<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/* uikit */-->
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <!--/* jQuery */-->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!--/* vue.js */-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        $(document).ready(function() {
            $.getJSON(
                "http://localhost:8080/webapi/weeklyReport/getCurrentMonth",
                function(calendar) {
                    // 最終日を取得
                    var lastDay = Object.keys(calendar.currentCal).length;

                    var weekCnt = 0;

                    $.each(calendar.currentCal, function(k, v) {
                        // 初日か週初めの場合に週の行を追加
                        if (v.dayOfWeek == "1" || k == "1") {
                            $(".day-of-month").append('<tr class="week week-' + weekCnt + '"></tr>');
                            if (k == "1" || parseInt(v.dayOfWeek, 10) > 1) {
                                for (var i = 1; i < parseInt(v.dayOfWeek, 10); i++ ) {
                                    // ここに前月の日入れられそう
                                    $(".day-of-month .week-" + weekCnt).append('<td class="day uk-text-center"></td>');
                                }
                            }
                        }
                        $(".day-of-month .week-" + weekCnt).append('<td class="day uk-text-center">' + k + '</td>');
                        if (v.dayOfWeek == "7") {
                            weekCnt++;
                        }
                    });
                }
            );
        });
    </script>
    <title>Title</title>
</head>
<body>
    <form method="post" action="post">
        <!--/* TODO: テーブル生成について考える */-->
        <a class="calendar-prev-month" href="" uk-slidenav-previous></a>
        <a class="calendar-next-month" href="" uk-slidenav-next></a>
        <table class="uk-table">
            <caption>勤怠を入力したい日付を選択してください。</caption>
            <thead>
            <tr>
                <th class="uk-text-center" th:each="dayOfWeek : ${dayOfWeekList}">[[${dayOfWeek}]]</th>
            </tr>
            </thead>
            <tbody class="day-of-month">
            </tbody>
        </table>
        <input type="text" name="test" />
        <input type="submit" value="送信" />
    </form>
    <p>[[${text}]]</p>
</body>
</html>